* {
    background-color: burlywood;
}
h1 {
    color: cornflowerblue;
}

a {
    color: white;
    background-color: cornflowerblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: cornflowerblue;
    background-color: transparent;
    border: 2px solid cornflowerblue;
}

li {
    margin-top: 40px;
}

table {
    margin-top: 40px;
}