// tutaj praktykuje zagnieżdżenia :)
.section {
    width: 100%;
    height: 200px;
    background-color: $section_color;
    &__h3 {
        color: white;
    }
    &__button {
        font-size: 30px;
        padding: 15px;
        background-color: white;
        border: none;
        cursor: pointer;
        transition: .1s linear; 
        &:hover {
            background-color: black;
            color: white;
        }
    }
    &__smth-else {
        margin-top: 20px;
        font-size: 30px;
    }
}
// including mixins
.smth-text {
    @include text;
}
.modal {
    background-color: rosybrown;
    @include position(absolute, auto, 200px, 5em, auto);
}