.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper-container {
    display: flex;
    border-top: solid 2px black;
}

.item {
    border: solid 1px grey;
    flex-grow: 1;
    flex-flow: row wrap;
    align-items: stretch;
}

.item.wider {
    flex-grow: 20;
}

.item h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p {
    padding-left: 2%;
    padding-right: 2%;
}

img {
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    align-items: center;
}

.lower-container {
    display: flex;
    color: red;

    border-top: solid 2px black;
    border-bottom: solid 2px black;
}