// tutaj praktykuje zagnieżdżenia :)
.section {
    width: 100%;
    height: 200px;
    background-color: $section_color;
    .section__h3 {
        color: white;
    }
    .section__button {
        font-size: 30px;
        padding: 15px;
        background-color: white;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}