*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-text-fill-color: currentcolor;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  --cursor-color: white;
}

body {
  font-size: 1.6rem;
  background-color: dimgray;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img,
svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  &:link ,
  &:visited {
    color: inherit;
  }
}