.section_test {
    color: yellow !important; 
    /* jeśli uzyjemy !important to wlasnie stad bedzie w pierwszej kolejnosci brany styl */
}

/* jeśli stylujemy tagi to wystarczy zapisac to bez zadnego selektora */
body { 
    background-color:grey;
    color: white;
} 

/* SELEKTORY */

/* musi spelniac wszystkie warunki - formułowanie styli tylko do określonych miejsc*/
body header h2 {
    background-color: blue;
    color: green;
}

/* stylowanie klas */
.subtytul {
    color: black;
}

/* stylowanie id (ofc id musi byc unikalne na stronie) */
#stylowanie_id {
    color: yellow;
}


/* STYLOWANIE FONTOW */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.paragraf1 { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}

/* KOLOROWANIE */

/* HEX: 000000 => kazde dwie cefry odpowiadaja odpowiednio RGB w systemie szestnastokowym */

/* RGB: color: rgb(0, 0, 0) <= RGB, wiadomo, wartosci 0-255 */
/* RGBa: color: rgba(x,y,z,c) c = przezroczystosc, wartosci 0-1 (float) */

.paragraf2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    /* color: rgb(124,123,4) */  /* RGB */
    color: #d3a015 ;  /* hex */ 
}


/* BOX MODEL */
/* notatki w zeszycie */

.text1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px red;
    border-style: double;
    padding: 50px 50px 50px 50px; /* odpycha od wewnątrz */ 
    /* argumenty w padding: 1 argument odpowiada góra i dół, 2 argument odpowiada za lewwo i prawo */
    /* padding - jesli uzyjemy 4 argumentow, to kazdy odpowiada za jedną stronę (zaczynając od góry, zgodnie z ruchami wskazówek zegara */

    margin: 15px;  /* odpycha od zewnątrz - przyjmuje takie same wartości jak padding */
}


/* TŁO */

.background_image {
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 38px;
    background-image: url(obrazek1.jpg);
    background-size: 300px 200px;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}



/* ROZMIAR I POZYCJA */

.text2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px red;
    border-style: double;
    padding: 50px 50px 50px 50px;
    margin: 15px;
}