.section_test {
    color: yellow !important; 
    /* jeśli uzyjemy !important to wlasnie stad bedzie w pierwszej kolejnosci brany styl */
}

/* jeśli stylujemy tagi to wystarczy zapisac to bez zadnego selektora */
body { 
    background-color:grey;
    color: white;
} 

/* SELEKTORY */

/* musi spelniac wszystkie warunki - formułowanie styli tylko do określonych miejsc*/
body header h2 {
    background-color: blue;
    color: green;
}

/* stylowanie klas */
.subtytul {
    color: black;
}

/* stylowanie id (ofc id musi byc unikalne na stronie) */
#stylowanie_id {
    color: yellow;
}

/* STYLOWANIE FONTOW */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

/* KOLOROWANIE */

/* HEX: 000000 => kazde dwie cefry odpowiadaja odpowiednio RGB w systemie szestnastokowym */

/* RGB: color: rgb(0, 0, 0) <= RGB, wiadomo, wartosci 0-255 */
/* RGBa: color: rgba(x,y,z,c) c = przezroczystosc, wartosci 0-1 (float) */
