html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: grid;
  place-items: center;
  background-color: rgba(181, 178, 167, 0.9);
}

.playground {
  height: 80vh;
  width: 90vw;
  margin-top: 5rem;
  border: 2px solid darkgray;
  position: relative;
}

.ball {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: tomato;
}