@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'utlils/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    background-color: $main-color;
    font-family: $default-font;
    color: white;
}
.wrapper {
    // kontener
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    // pozycja i wielkość
    max-width: 1000px;
    margin: 0 auto; // tak srodkujemy strone XD
    min-height: 100vh;

    // wygląd
    font-size: 2rem;
    background-color: #fff;
    box-shadow: 0 0 4px #000;

}

@import 'components/components.scss';