@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --brand-gray: #4F4D53;
  --brand-yellow: #E8BE02;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 10rem;
  color: var(--brand-gray);
}

h2 {
  font-size: 6.4rem;
  color: var(--brand-yellow);
}

h3 {
  font-size: 2rem;
  color: var(--brand-yellow);
}

h4 {
  font-weight: 400;
  font-size: 1.4rem;
  color: #FFFFFF
}

p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--brand-gray)
}